/* Estilos generales para el contenedor */
.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Título */
.title {
  font-size: 24px;
  line-height: 32px;
}

/* Estilo de los párrafos */
p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

/* Estilos para pantallas pequeñas (< 600px) */
@media (max-width: 599px) {
  /* Para pantallas pequeñas, el contenedor tiene un relleno de 10px */
  .container {
    padding: 10px;
  }

  /* El tamaño del título se reduce a 20px para pantallas pequeñas */
  .title {
    font-size: 20px;
  }

  /* El tamaño de la fuente de los párrafos se reduce a 15px para pantallas pequeñas */
  p {
    font-size: 15px;
  }
}

/* Estilos para pantallas medianas (600px - 1024px) */
@media (min-width: 600px) and (max-width: 1024px) {
  /* Para pantallas medianas, el contenedor tiene un relleno de 15px */
  .container {
    padding: 15px;
  }

  /* El tamaño del título se ajusta a 22px para pantallas medianas */
  .title {
    font-size: 22px;
  }

  /* El tamaño de la fuente de los párrafos se ajusta a 18px para pantallas medianas */
  p {
    font-size: 18px;
  }
}

/* Estilos para pantallas grandes (> 1024px) */
@media (min-width: 1025px) {
  /* Para pantallas grandes, el contenedor tiene un relleno de 20px */
  .container {
    padding: 20px;
  }

  /* El tamaño del título se mantiene en 24px para pantallas grandes */
  .title {
    font-size: 24px;
  }

  /* El tamaño de la fuente de los párrafos se ajusta a 20px para pantallas grandes */
  p {
    font-size: 20px;
  }
}

/* Estilo general para los resultados */
.vertical-result, .horizontal-result {
  display: none; /* Por defecto ocultamos ambos resultados */
}

/* Mostrar el resultado para orientación vertical */
@media (orientation: portrait) {
  .vertical-result {
    display: block;
  }
}

/* Mostrar el resultado para orientación horizontal */
@media (orientation: landscape) {
  .horizontal-result {
    display: block;
  }
}
